/* Lucas Roberto Rodrigues 3C - 28/08/2024 */
body {
    color: blueviolet;
    background:black;
    margin: 0px;
}

header {
border-bottom: solid 1px white;
padding:20px;
font-size: 32px;
}

section {
background: yellow;
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
margin-right: 5%;
}
